{% extends "base.html" %}
{% block content %}
    <div class="container bg-light text-black p-4">
        <h2>Welcome to Livin' Macrame!</h2>
        <p>The Livin' Macrame web app serves as a gallery of macrame (patterns made from knots) projects with their components, and also a tool for calculating useful information relating to the creation and marketing of new macrame projects.

        Users can browse existing projects, create and upload their own with accompanying images, and most importantly use the in-built functions to plan and calculate many attributes of new projects.</p>
        
    </div>

{% endblock %}