{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.pattern.pattern_name }}</h2>
    <img src="{{ page_data.image }}" style="width: 250px">
    <p>Pattern ID: {{ page_data.pattern.pattern_id }}</p>
    <p>Description: {{ page_data.pattern.description }}</p>
    <p>Pattern Length: {{ page_data.pattern.length }}cm</p>
    <p>Pattern Width: {{ page_data.pattern.width }}cm</p>
    <p>Knots Long: {{ page_data.pattern.knots_long }}</p>
    <p>Knots Wide: {{ page_data.pattern.knots_wide }}</p>
    <p>Number of Cords used: {{ page_data.pattern.num_of_cords }}</p>
    <p>Length of Cords : {{ page_data.pattern.cords_length }}cm</p>
    <p>Total Cord used: {{ page_data.pattern.total_cord }}cm</p>
    <p>Creator: {{ page_data.pattern.creator.name }} ({{ page_data.pattern.creator.email }})</p>


    <br/><br/>


    <h3>Knot Used</h3>
    <a href="/knots/{{ page_data.pattern.knot.knot_id }}/">{{ page_data.pattern.knot.knot_name }}</a>
    <p>Knot ID: ({{ page_data.pattern.knot.knot_id }})</p>
    <p>Knot length: ({{ page_data.pattern.knot.length }})</p>
    <h4>Choose Knot (ID)</h4>
    <form action="/patterns/{{ page_data.pattern.pattern_id }}/add_knot/" method="POST">
        <input type="number" name="knot_id" placeholder="ID of Knot used..."/>
        <button>Select Knot</button>
    </form>
    <form action="/patterns/{{ page_data.pattern.pattern_id }}/remove_knot/" method="POST">
        <button>REMOVE from pattern</button>
    </form>

    <br/><br/>

    <h3>Update Pattern Info</h3>
    <form action="/patterns/{{ page_data.pattern.pattern_id }}/" method="POST">
        <input type="text" name="pattern_name" placeholder="Pattern Name..."/>
        <input type="text" name="description" placeholder="Description..."/>
        <input type="number" name="length" placeholder="Length (cm)..."/>
        <input type="number" name="width" placeholder="Width (cm)..."/>
        <button>Update</button>
    </form>

    <br/><br/>

    <h3>Update Image:</h3>
    <form action="/patterns/{{ page_data.pattern.pattern_id }}/image/" method="POST" enctype = "multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>

    <br/><br/>
    
    <form action = "/patterns/{{ page_data.pattern.pattern_id }}/delete/", method="POST">
        <button>DELETE PATTERN</button>
    </form>

{% endblock %}