{% extends "base.html" %}
{% block content %}

    <div>
        <form action="/users/account/" method="POST">
            
            <label for="name">Name:</label>
            <input type="text" name="name" value = {{ current_user.name }}>

            <label for="email">Email:</label>
            <input type="text" name="email" value = {{ current_user.email }}>
            
            <button>Update</button>
        </form>

        <p>User is admin: {{ current_user.is_admin }}</p>
        <br><br>
        <p>Most expensive project created by {{ current_user.name }}: {{ page_data.projects_max_price }}</p>
        <p>Cheapest project created by {{ current_user.name }}: {{ page_data.projects_min_price }}</p>        
        <p>Projects created by {{ current_user.name }}: {{ page_data.projects_count }}</p>
        <ul>
            {% for project in current_user.projects %}
                <li><a href="/projects/{{ project.project_id }}/">{{ project.project_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}